<div *ngIf="databaseService.connected">
  <h4>Job Description</h4>
  <p>Enter the job description here, and Snippets will parse it in order to find the keywords (skills, experience, languages) that match previous cover letter information that you have written.</p>
  <textarea ref-textarea [(ngModel)]="descriptionContent" placeholder="Copy/Paste a job description here" ></textarea>
  <button (click)="submitDescription(descriptionContent)">Parse Job Description</button>
  <div class="results" *ngIf="parseDescriptionService.showParsingResults">
    <p>Results:</p>
    <div class="table-container">
      <table id="keyword-results-table">
        <thead>
          <tr>
            <td>Category/Keyword:</td>
            <td>Times Mentioned:</td>
            <td>Show snippets for Category</td>
        </thead>
        <tbody>
          <tr *ngFor="let keyword of parseDescriptionService.keywordArray | hasKeywords">
            <td>{{ keyword.keyword }}</td>
            <td>{{ keyword.jobKeywords }}</td>
            <td><a>Show Snippets</a></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>

