#keyword-results-table-container {
    max-height:160px;
}

/* #keyword-results-table thead td, #filtered-snippets-table thead td {
    font-size:14px;
    color:white;
} */

#keyword-results-table tbody td {
    font-size:10px;
}



