<div *ngIf="!databaseService.connected">
  <h4>Connect your Database:</h4>
  <p>
    Paste your MongoDB url here with credentials and we will connect to your database.
  </p>
  <p>
    Test URL:<br>
    mongodb://test:testtest1@ds245901.mlab.com:45901/snippets-test<br>
    un:test<br>
    pw:testtest1<br>
  </p>
  <input [(ngModel)]="databaseString"/><br>
  <button [ngClass]="{inactive: databaseString == ''}" (click)="connect(databaseString)">Connect to Database</button>
</div>

<div *ngIf="databaseService.connected">
  <p>Your Snippets Database has {{databaseService.database.length}} entries.</p>
  <div id="table-container">

    <table id="database-table">
      <thead>
        <tr>
          <td>Snippet</td>
          <td>Categories</td>
          <!-- <td>Edit</td> -->
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let snippet of databaseService.database">
          <td class="snippet">{{snippet.snippet}}</td>
          <td class="categories">{{snippet.categories}}</td>
          <!-- <td><a (click)="deleteRecord(snippet.id)">Edit</a></td> -->
          <td class="delete"><a (click)="deleteRecord(snippet._id)">Delete</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
