<div *ngIf="!databaseService.connected">
  <h4 id="json-title">Use JSON File:</h4>
  <p>
    Click here to store/pull data from a local JSON file.
  </p>
  <button (click)="connectJson()">Connect to JSON File</button>

  <br>

  <h4 id="db-title">Connect your Database:</h4>
  <p>
    Paste your MongoDB url here with credentials and we will connect to your database.
    For instructions on how to create a cloud-hosted database, <a href="https://github.com/mattcheah/cover-letter-snippets#setting-up-a-database">visit the README</a>.
  </p>
  <p>The database string here is a test sandbox for anyone to use. Please play nice.</p>
  <input [(ngModel)]="databaseString"/><br>
  <button [ngClass]="{inactive: databaseString == ''}" (click)="connect(databaseString)">Connect to Database</button>
</div>

<div *ngIf="databaseService.showDatabase">
  <p>Your Snippets Database has {{databaseService.database.length}} entries.</p>
  <p><small>Click to Edit</small></p>
  <div class="table-container">

    <table id="database-table">
      <thead>
        <tr>
          <td>Snippet</td>
          <td>Categories</td>
          <!-- <td>Edit</td> -->
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr [id]="'snippet-'+snippet._id" *ngFor="let snippet of databaseService.database">
          <td (click)="toggleEditSnippet(snippet)" >
            <div class="snippet no-edit" style="display:block">
              {{snippet.snippet}}
            </div>
            <textarea  [(ngModel)]="editSnippetObject ? editSnippetObject.snippet : ''" class="snippet-edit editable" (keydown)="snippetEdited = true" (keyup.enter)="saveEdit(editSnippetObject)" style="display:none">
            </textarea>
          </td>
          <td (click)="toggleEditCategories(snippet)" >
            <div class="categories no-edit" style="display:block">
              {{snippet.categories}}
            </div>
            <input [(ngModel)]="editSnippetObject ? editSnippetObject.categories : ''" class="categories-edit editable" value="{{editSnippetObject ? editSnippetObject.categories : ''}}" (keydown)="snippetEdited = true" (keyup.enter)="saveEdit(editSnippetObject)" style="display:none">
          </td>
          <!-- <td><a (click)="deleteRecord(snippet.id)">Edit</a></td> -->
          <td class="delete"><a (click)="deleteRecord(snippet._id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
