.inactive {
    color: #aaa;
}

#table-container {
  max-height:400px;
  overflow-y:scroll;
  margin-bottom:30px;
}

#database-table {
  font-size:10px;
  font-family:sans-serif;

}

#database-table thead td {
  font-weight:700;
  font-size:12px;
}

#database-table tbody tr {
  max-height:100px;
}


#database-table tbody tr .delete a {
  cursor:pointer;
}

#database-table tbody tr:nth-child(2n) {
  background-color:#333;
}