#filtered-snippets-table thead td {
  width: fit-content;
  white-space: nowrap;
}
#filtered-snippets-table thead td:first-child {
  width: 75%;
}
button {
  margin: 0 auto;
  display: block;
}
#intro-outro {
  margin: 20px 0;
}
#show-more-header {
  border: none;
  text-align: center;
  background-color: rgba(34, 34, 34, 1);
}
.panel-container{
  width: 100%;
  padding-bottom: 20px;
}
.accordion{
  cursor: pointer;
  padding-left: 2px;
  border: white solid 1px;
  background-color: rgb(218, 214, 214);
  color:rgba(34, 34, 34, 1);
}
.panel{
  display: block;
  word-wrap: break-word;
}

