#filtered-snippets-table thead td {
  width: fit-content;
  white-space: nowrap;
}
#filtered-snippets-table thead td:first-child {
  width: 75%;
}
button {
  margin: 0 auto;
  display: block;
}
#intro-outro {
  margin: 20px 0;
}
#show-more-header {
  border: none;
  text-align: center;
  background-color: rgba(34, 34, 34, 1);
}
