/* You can add global styles to this file, and also import other style files */
.table-container {
  max-height:400px;
  overflow-y:scroll;
  margin-bottom:30px;
}

table {
  font-size:11px;
  font-family:sans-serif;
}

table thead td{
  font-size:12px;
}

table tbody tr {
  max-height:100px;
}

table td {
    word-wrap: break-word;
    word-break: break-all;
}

table td a {
  cursor:pointer;
}

table tbody tr:nth-child(2n) {
  background-color:#333;
}
table tbody tr:nth-child(2n+1) {
  background-color:#2A2A2A;
}