/* You can add global styles to this file, and also import other style files */
.table-container {
  max-height:400px;
  overflow-y:scroll;
  margin-bottom:30px;
}

#database-table, #keyword-results-table {
  font-size:10px;
  font-family:sans-serif;
}

#database-table thead td, #keyword-results-table thead, td {
  font-weight:700;
  font-size:12px;
}

#database-table tbody tr, #keyword-results-table tbody tr {
  max-height:100px;
}


table td a {
  cursor:pointer;
}

table tbody tr:nth-child(2n) {
  background-color:#333;
}