/* You can add global styles to this file, and also import other style files */

body {
  padding: 13px 13px 80px 13px !important;
}

a {
  color: #b0ccea;
}

.flex {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.table-container {
  max-height:400px;
  overflow-y:scroll;
  margin-bottom:30px;
  border-radius: 5px;
}

table {
  font-size:11px;
  font-family:sans-serif;
}
table thead tr {
  background-color:#171717;
}

table thead td{
  font-size:14px;
  color:white;
}

table thead tr {
  max-height:100px;
}

table td {
  word-wrap: break-word;
  word-break: break-all;
}

table td a {
  cursor:pointer;
}

table tbody tr:nth-child(2n) {
  background-color:#333;
}
table tbody tr:nth-child(2n+1) {
  background-color:#2A2A2A;
}

.line-break {
    margin:10px auto;
    width: 80%;
    border-bottom:1px solid  #c9c9c9;
}
