#status {
    width:100%;
    max-width:38em;
    padding: 0px 15px;
    border:1px solid #c9c9c9;
    text-align:left;
    color:#c9c9c9;
    border-radius:3px;
    margin:20px 0 0;
    background-color: rgba(200,200,200,.3);
    position: fixed;
    bottom: 0px;
}

#status.success {
    color:green;
    border-color:green;
    background-color:#9bca9b;
}

#status.error {
    color: #c14242;
    border-color: #b54242;
    background-color: #5a2c2c;
}

#status.primary {
    color: #8fcef3;
    border-color: #596c77;
    background-color: #596c77;
}

#status.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
