<div *ngIf="databaseService.connected">

  <h4>Add Snippet</h4>
  <p>Enter a snippet from your cover letter that you feel is well articulated and communicates your experience well. Then fill out the categories (experiences, languages, skills) that relate to this cover letter.</p>
  <textarea id="snippet" ref-textarea [(ngModel)]="snippet" placeholder="Copy/Paste a cover letter snippet here."></textarea>
  <textarea ref-textarea [(ngModel)]="categories" placeholder="Add your categories here, separated by a comma (no spaces). eg. PHP,javascript,Node,mysql"></textarea>
  <button (click)="addSnippet()">Submit Snippet</button>
  <!-- <div class="results" *ngIf="showKeywordsResults">
    <p>Results:</p>
  </div> -->
</div>
